#intro header h2 {
  font-size: 1.8em;
}

.footnote-ref {
  margin-top: -100px;
  padding-top: 100px;
}

/* Override */

body,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

#intro header h2 {
  font-size: 1.4em;
}

.author {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

ul.posts article header .published {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

.mini-post header .published {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

.post > header .meta .published {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}
.post > footer .stats li {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

.post h2:nth-child(n + 2) {
  margin-top: 2em;
}

header p {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}
#header .links ul li a {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

#footer .copyright {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}

#menu .links > li a p {
  font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}
