#intro header h2 {
    font-size: 1.8em;
}

.footnote-ref{
  margin-top:-100px;
  padding-top:100px;
}


/* Override font-family */

/* Type */
body, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
    font-size: 12pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}
/* Author */
.author {
    font-family: "Raleway", Helvetica, "Yu Gothic", "メイリオ", sans-serif;
}
/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* List */
ul.posts article header .published {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* Mini Post */
.mini-post header .published {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* Post */
.post > header .meta .published {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
.post > footer .stats li {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* Header */
header p {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
#header .links ul li a {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* Footer */
#footer .copyright {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
/* Menu */
#menu .links > li a p {
    font-family: "Raleway", Helvetica,"Yu Gothic", "メイリオ", sans-serif;
}
